<!DOCTYPE html>
<html leng = en>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible", content="ie=edge">
	<title>Заголовок страницы</title>
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/bootstrap.min.css'%}"
	 type="text/css">
</head>
<body>
	<div class = "jumbotron">
		<div class="container">
			<h1>Привет мир!</h1>
			<p>
			{% block content %}
			{% endblock %}	
			</p>
			<p>
				<a href="/" class="btn btn-success btn-lg">Главная страница</a>
				<a href="/news" class="btn btn-primary btn-lg">Узнать больше
				&raquo;</a>
			</p>
		</div>
	</div>
	<div class="container">
		<img src="{% static 'mainApp/image/some.png' %}" class="img-thumbnail">
		<hr>
		&copy; Все права защищены 2018
	</div>
	
	
</body>
</html>